<div class="pod" data-podid="<%= coupon_id %>">
    <div class="left">
        <img height="100" width="80" src="<%= imgUrl %>" onError="this.onerror=null;this.src='assets/images/images.jpeg';"/>
        <span><%= coupon_id %></span>
        <span><%= type %></span>
    </div>
    <ul>
        <li class="summary"><%= offer_summary_top %></li>
        <li class="brand"><%= brand %></li>
        <li class="detail"><%= offer_summary_detail %></li>
    </ul>
    <button class="lens-cta">Inspect</button>
</div>
