<div class="container liq template_600x500">
    <div class="list">
        <div class="search">
            <h3>Add Items and Search for your deal</h3>
            <input type="text" id="items" placeholder="Ex: cheese,milk"/>
            <button type="submit" class="search-btn">Find Deals</button>
            <div class="badge">Total: <span>0</span></div>
        </div>
        <div class="gallery">
            <div class="loading-indicator">
                <img width="32" height="32" src="http://cdn.cpnscdn.com/static.coupons.com/Sites/img/bigblue/spinner.gif">
            </div>
        </div>
    </div>
    <div class="brands">
        <h3>Our Popular Brands:</h3>
        <ul>
            <li><a href="http://www.coupons.com/brands/crest-coupons" target="_blank">Crest</a></li>
            <li><a href="http://www.coupons.com/brands/gillette-coupons" target="_blank">Gillette</a></li>
            <li><a href="http://www.coupons.com/brands/olay-coupons" target="_blank">Olay</a></li>
        </ul>
        <ul>
            <li><a href="http://www.coupons.com/brands/gerber-coupons" target="_blank">Gerber</a></li>
            <li><a href="http://www.coupons.com/brands/covergirl-coupons" target="_blank">Cover Girl</a></li>
        </ul>
    </div>
</div>
<!-- Load script  "js/main.js" as our entry point -->
<script data-main="frontend/js/main" src="frontend/js/lib/require.js"></script>